.main-inner-item2-table {
  margin-left: 20px;
}

@media (max-width: 1630px) {
  .main-inner-item2-table {
    margin-left: 15px;
  }
}

@media (max-width: 1279px) {
  .main-inner-item2-table {
    margin-left: 0px;
  }
}

.main-inner-item2-table .main-inner-item2-content .content-unit-wrap {
  padding-top: 0px;
}

.main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .table-wrapper {
  margin-top: 20px;
  padding: 33px 12px 20px 12px;
  background-color: #ffffff;
  border-radius: 30px;
}

@media (max-width: 1023px) {
  .main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .table-wrapper {
    padding: 20px 0px 20px 0px;
  }
}

@media (max-width: 599px) {
  .main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .table-wrapper {
    padding: 0px;
  }
}

@media (max-width: 1023px) {
  .main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .table-wrapper .tableStyle .p-datatable .p-datatable-tbody tr {
    position: relative;
  }
}

@media (max-width: 1023px) {
  .main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .table-wrapper .tableStyle .p-datatable .p-datatable-tbody tr td:last-child {
    position: absolute;
    top: 2px;
    right: 30px;
  }
}

.main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .btns-wrap {
  padding-top: 20px;
  position: relative;
}

@media (max-width: 599px) {
  .main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .btns-wrap {
    flex-direction: column;
    padding-top: 60px;
  }
}

@media (max-width: 599px) {
  .main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .btns-wrap .inner-flex:last-child {
    padding-top: 15px;
  }
}

.main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .btns-wrap .inner-flex .btn,
.main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .btns-wrap .inner-flex .btn-underline {
  margin-left: 10px;
}

@media (max-width: 599px) {
  .main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .btns-wrap .inner-flex .btn.btn,
  .main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .btns-wrap .inner-flex .btn-underline.btn {
    position: absolute;
    top: 10px;
    left: -10px;
  }
}

@media (max-width: 599px) {
  .main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .btns-wrap .inner-flex .btn.btn.btn-export,
  .main-inner-item2-table .main-inner-item2-content .content-unit-wrap .content-unit-inner .btns-wrap .inner-flex .btn-underline.btn.btn-export {
    left: 40px;
  }
}
