.btn-green-gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent linear-gradient(180deg, #3bbb9e 0%, #00aabf 100%) 0% 0% no-repeat padding-box;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.26);
  border-radius: 34px;
  border: 0;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  min-width: 112px;
  min-height: 40px;
}

.btn-green-gradient:hover, .btn-green-gradient:focus {
  background: transparent linear-gradient(180deg, #00aabf 0%, #3bbb9e 100%) 0% 0% no-repeat padding-box;
}
