fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

@media (max-width: 800px) {
  .text-field-form {
    width: 100%;
  }
}

.text-field-form .form-wrap {
  width: 100%;
}

@media (max-width: 800px) {
  .text-field-form .form-wrap {
    flex-direction: column;
    align-items: flex-start;
  }
}

legend {
  font-size: 17px;
  line-height: 22px;
  color: #201961;
  font-weight: 200;
  padding-left: 22px;
}

.input-unit-wrap {
  padding-top: 0px;
  flex-wrap: wrap;
}

.input-unit-wrap .input-unit-regular {
  position: relative;
}

.input-unit-wrap .input-unit-regular label {
  display: inline-block;
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 4px;
}

.input-unit-wrap .input-unit-regular label.display-non {
  padding-bottom: 0px;
  display: none;
}

.input-unit-wrap .input-unit-regular input,
.input-unit-wrap .input-unit-regular textarea,
.input-unit-wrap .input-unit-regular select {
  font-size: 14px;
  font-weight: 300;
  color: #201961;
  box-sizing: border-box;
  padding: 0px 10px;
  text-align: right;
  width: 154px;
  height: 35px;
  border: 1px solid #e7e8ea;
  border-radius: 8px;
  background-color: #ffffff;
  font-family: "Heebo", sans-serif;
  margin: 0px;
  display: flex;
  align-items: center;
}

.input-unit-wrap .input-unit-regular input:hover, .input-unit-wrap .input-unit-regular input:focus,
.input-unit-wrap .input-unit-regular textarea:hover,
.input-unit-wrap .input-unit-regular textarea:focus,
.input-unit-wrap .input-unit-regular select:hover,
.input-unit-wrap .input-unit-regular select:focus {
  border: 1px solid #5b7184;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.input-unit-wrap .input-unit-regular input:focus,
.input-unit-wrap .input-unit-regular textarea:focus,
.input-unit-wrap .input-unit-regular select:focus {
  box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.input-unit-wrap .input-unit-regular input::placeholder,
.input-unit-wrap .input-unit-regular textarea::placeholder,
.input-unit-wrap .input-unit-regular select::placeholder {
  color: #201961;
  opacity: 1;
  /* Firefox */
  font-family: "Heebo", sans-serif;
}

.input-unit-wrap .input-unit-regular select,
.input-unit-wrap .input-unit-regular .ui.fluid.search.selection.dropdown {
  background-image: url(../images/select.svg);
  background-size: 10px;
  padding-left: 15px;
  background-repeat: no-repeat;
  background-position: left 10px center;
  -webkit-appearance: none;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .input-unit-wrap .input-unit-regular select,
  .input-unit-wrap .input-unit-regular .ui.fluid.search.selection.dropdown {
    background-size: 32px;
    background-position: left 0px center;
  }
}

.input-unit-wrap .input-unit-regular select::-ms-expand {
  display: none;
  padding-left: 50px;
}

.input-unit-wrap .input-unit-regular .filling-error {
  display: none;
}

.input-unit-wrap .input-unit-regular.input-unit-error input,
.input-unit-wrap .input-unit-regular.input-unit-error textarea,
.input-unit-wrap .input-unit-regular.input-unit-error select {
  border: 1px solid red;
}

.input-unit-wrap .input-unit-regular.input-unit-error .filling-error {
  position: absolute;
  bottom: -17px;
  right: -9px;
  color: red;
  font-size: 12px;
  letter-spacing: -1px;
  display: block;
  padding: 3px 10px;
  border-radius: 0px 0px 3px 3px;
  font-weight: 500;
}

@media (max-width: 1024px) {
  .input-unit-wrap .input-unit-regular.input-unit-error .filling-error {
    bottom: -3px;
  }
}

.input-unit-wrap .input-unit-search {
  position: relative;
}

.input-unit-wrap .input-unit-search::before {
  content: "";
  background-image: url("../images/search.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  background-color: transparent;
  width: 18px;
  height: 19px;
  position: absolute;
  top: 9px;
  left: 9px;
  z-index: 1;
}

.input-unit-wrap .input-unit-search input {
  padding: 0px 10px 0px 28px;
}

.p-fluid .p-field {
  padding-bottom: 20px;
}

.p-fluid .p-field.display-flex {
  padding-bottom: 10px;
}

.p-fluid .p-field.display-flex label {
  padding-left: 10px;
}

.p-fluid .p-field.pad0 {
  padding-bottom: 0px;
}

.p-fluid .p-field label {
  font-size: 14px;
  line-height: 18px;
  color: rgba(32, 25, 97, 0.5);
  display: block;
  font-weight: 400;
}

.p-fluid .p-field label .required-field {
  color: #f68340;
  display: inline-block;
  padding-left: 3px;
}

.p-fluid .p-field textarea,
.p-fluid .p-field select,
.p-fluid .p-field .p-dropdown,
.p-fluid .p-field input {
  font-size: 14px;
  font-weight: 300;
  color: #201961;
  box-sizing: border-box;
  padding: 0px 10px;
  text-align: right;
  min-width: 154px;
  height: 35px;
  border: 1px solid #e7e8ea;
  border-radius: 8px;
  background-color: #ffffff;
  font-family: "Heebo", sans-serif;
  margin: 0px;
  display: flex;
  align-items: center;
}

.p-fluid .p-field textarea:hover, .p-fluid .p-field textarea:focus,
.p-fluid .p-field select:hover,
.p-fluid .p-field select:focus,
.p-fluid .p-field .p-dropdown:hover,
.p-fluid .p-field .p-dropdown:focus,
.p-fluid .p-field input:hover,
.p-fluid .p-field input:focus {
  border: 1px solid #5b7184;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-fluid .p-field textarea:focus,
.p-fluid .p-field select:focus,
.p-fluid .p-field .p-dropdown:focus,
.p-fluid .p-field input:focus {
  box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-fluid .p-field textarea:disabled,
.p-fluid .p-field select:disabled,
.p-fluid .p-field .p-dropdown:disabled,
.p-fluid .p-field input:disabled {
  background-color: #f7f5fd;
  border: 1px solid #8390a9;
  cursor: none;
}

.p-fluid .p-field textarea:disabled:hover, .p-fluid .p-field textarea:disabled:focus,
.p-fluid .p-field select:disabled:hover,
.p-fluid .p-field select:disabled:focus,
.p-fluid .p-field .p-dropdown:disabled:hover,
.p-fluid .p-field .p-dropdown:disabled:focus,
.p-fluid .p-field input:disabled:hover,
.p-fluid .p-field input:disabled:focus {
  border: 1px solid #8390a9;
  box-shadow: 0 0 0 0rem #a6d5fa;
}

.p-fluid .p-field textarea:disabled:focus,
.p-fluid .p-field select:disabled:focus,
.p-fluid .p-field .p-dropdown:disabled:focus,
.p-fluid .p-field input:disabled:focus {
  box-shadow: 0 0 0 0rem #a6d5fa;
}

.p-fluid .p-field textarea::placeholder,
.p-fluid .p-field select::placeholder,
.p-fluid .p-field .p-dropdown::placeholder,
.p-fluid .p-field input::placeholder {
  color: #201961;
  opacity: 1;
  /* Firefox */
  font-family: "Heebo", sans-serif;
}

.p-fluid .p-field textarea .p-dropdown-label,
.p-fluid .p-field select .p-dropdown-label,
.p-fluid .p-field .p-dropdown .p-dropdown-label,
.p-fluid .p-field input .p-dropdown-label {
  border-radius: 0px 8px 8px 0px;
  font-size: 14px;
  font-weight: 300;
  color: #201961;
  box-sizing: border-box;
  text-align: right;
  background-color: #ffffff;
  font-family: "Heebo", sans-serif;
  margin: 0px;
  padding: 0;
}

.p-fluid .p-field textarea .p-dropdown-trigger,
.p-fluid .p-field select .p-dropdown-trigger,
.p-fluid .p-field .p-dropdown .p-dropdown-trigger,
.p-fluid .p-field input .p-dropdown-trigger {
  width: 11px;
}

.p-fluid .p-field textarea .p-dropdown-trigger .p-dropdown-trigger-icon,
.p-fluid .p-field select .p-dropdown-trigger .p-dropdown-trigger-icon,
.p-fluid .p-field .p-dropdown .p-dropdown-trigger .p-dropdown-trigger-icon,
.p-fluid .p-field input .p-dropdown-trigger .p-dropdown-trigger-icon {
  font-size: 12px;
  color: #201961;
}

.p-fluid .p-field .p-inputtextarea {
  font-size: 14px;
  font-weight: 300;
  color: #201961;
  box-sizing: border-box;
  padding: 10px 10px;
  text-align: right;
  height: 108px;
  border: 1px solid #e7e8ea;
  border-radius: 10px;
  background-color: #ffffff;
  font-family: "Heebo", sans-serif;
  margin: 0px;
  display: flex;
  align-items: center;
  resize: none;
}

.p-fluid .p-field .p-inputtextarea:hover, .p-fluid .p-field .p-inputtextarea:focus {
  border: 1px solid #5b7184;
  box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-fluid .p-field .p-inputtextarea:focus {
  box-shadow: 0 0 0 0.2rem #a6d5fa;
}

.p-fluid .p-field .p-inputtextarea::placeholder {
  color: #201961;
  opacity: 1;
  /* Firefox */
  font-family: "Heebo", sans-serif;
}

.p-fluid .p-field.p-field-green .p-dropdown-label {
  background-color: rgba(115, 202, 113, 0.01);
}

.p-fluid .p-field.p-field-green .p-component {
  color: #73ca71;
  border: 1px solid rgba(115, 202, 113, 0.5);
  background-color: rgba(115, 202, 113, 0.1);
}

.p-fluid .p-field.p-field-green .p-component::placeholder {
  color: #73ca71;
}

.p-fluid .p-field.p-field-red .p-dropdown-label {
  background-color: rgba(255, 0, 0, 0.01);
}

.p-fluid .p-field.p-field-red .p-component {
  color: red;
  border: 1px solid rgba(255, 0, 0, 0.3);
  background-color: rgba(255, 0, 0, 0.1);
}

.p-fluid .p-field.p-field-red .p-component::placeholder {
  color: red;
}

.p-fluid .p-field.p-field-blue .p-dropdown-label {
  background-color: rgba(227, 222, 247, 0.1);
}

.p-fluid .p-field.p-field-blue .p-component {
  border: 1px solid #e3def7;
  background-color: rgba(227, 222, 247, 0.5);
}
