$bgcolor0: #ffffff;
$textColor0: #201961;

$textColor1: #ffffff;

$linkColor0: #2979f4;

///////////////////////////////////////// .tableStyle /////////////////////////////
.tableStyle {
    width: 100%;
    padding: 0;
    border-collapse: collapse;
    .p-datatable-scrollable-header-box {
        margin: 0 !important;
    }

    .p-datatable .p-datatable-scrollable-header,
    .p-datatable .p-datatable-scrollable-footer {
        background: transparent;
    }
    .p-datatable.p-datatable-hoverable-rows .p-datatable-tbody > tr:not(.p-highlight):hover {
        background-color: #e3f2fd;
        td {
            &:first-child {
                border-radius: 0px 17px 17px 0px;
            }

            &:last-child {
                border-radius: 17px 0px 0px 17px;
            }
            .moreBtnwrap .p-button.p-component.more-btn {
                opacity: 1;
            }
        }
    }
    .p-datatable .p-sortable-column:not(.p-highlight):not(.p-sortable-disabled):hover {
        background-color: rgba(227, 222, 247, 0.2);
    }

    .p-datatable {
        .p-datatable-thead {
            @media (max-width: 1023px) {
                display: none;
            }
            tr {
                th {
                    font-size: 14px;
                    padding: 0px 0px 0px 0px;
                    color: #a7abbd;
                    text-align: center;
                    position: relative;
                    vertical-align: middle;
                    font-weight: 500;
                    white-space: nowrap;
                    background: rgba(227, 222, 247, 0.2);
                    border: 0;

                    @media (max-width: 1279px) {
                        font-size: 12px;
                    }

                    .p-checkbox .p-checkbox-box.p-highlight {
                        border-color: #00aac0;
                        background: #00aac0;
                    }
                    &:first-child {
                        border-radius: 0px 17px 17px 0px;

                        .p-column-title {
                            padding: 0px;
                        }
                    }

                    &:last-child {
                        border-radius: 17px 0px 0px 17px;
                    }
                    .p-column-title {
                        padding: 10px 10px 10px 4px;
                        min-width: inherit;
                        display: inline-block;
                        margin: 0;
                        font-weight: 500;

                        @media (max-width: 1279px) {
                            padding: 10px 4px 10px 4px;
                        }
                        @media (max-width: 1023px) {
                            display: block;
                            padding: 0.4rem;
                            min-width: 30%;
                            display: inline-block;
                            margin: -0.4rem 1rem -0.4rem -0.4rem;
                            font-weight: bold;
                        }
                    }

                    .p-sortable-column-icon {
                        color: #a7abbd;
                        width: 12px;
                        margin-top: -4px;
                        &:before {
                            font-size: 12px;
                        }
                    }

                    &:hover,
                    &:focus {
                        background-color: rgba(227, 222, 247, 0.2);
                        .p-sortable-column-icon {
                            display: inline-block;
                        }
                    }
                }
            }
        }

        .p-datatable-scrollable-body {
            scrollbar-color: #ebeaef #f3f5f7;
            scrollbar-width: thin;
            max-height: 488px;

            &::-webkit-scrollbar-track {
                background-color: #f3f5f7;
                border-radius: 30px;
            }

            &::-webkit-scrollbar {
                width: 8px;
                height: 0;
                background-color: #f3f5f7;
                border-radius: 30px;
                background-clip: padding-box;
            }

            &::-webkit-scrollbar-thumb {
                background: #ebeaef;
                border-radius: 30px;
            }
        }

        .p-datatable-tbody {
            tr {
                background-color: transparent;
                border-bottom: 0px;

                @media (max-width: 1023px) {
                    display: block;
                    padding: 10px 0px;
                    height: auto;
                    border-bottom: 1px solid #d7d7d7;
                    width: 100vw;
                }

                @media (max-width: 599px) {
                    background-color: #f7f7f7;
                    &:nth-child(odd) {
                        background: #f3f3f5;
                    }
                }

                td {
                    font-size: 14px;
                    padding: 10px;
                    color: $textColor0;
                    text-align: center;
                    vertical-align: middle;
                    position: relative;
                    font-weight: 500;
                    border-top: none;
                    border: 0;
                    .color-red {
                        color: #ff3e3e;
                    }

                    .btn-status {
                        font-size: 16px;
                        line-height: 20px;
                        color: #3fbc9d;
                        width: 58px;
                        height: 28px;
                        font-weight: 500;
                        background-color: rgba(63, 188, 157, 0.1);
                        border-radius: 19px;
                        border: 0;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        margin: 0 auto;

                        &.btn-rejected {
                            color: #f68340;
                            background-color: rgba(246, 131, 64, 0.1);
                        }
                        &.btn-waiting {
                            color: #00aac0;
                            background-color: rgba(0, 170, 192, 0.1);
                        }
                    }

                    .moreBtnwrap .p-button.p-component.more-btn {
                        margin: 0;
                        width: 30px;
                        height: 35px;
                        opacity: 0;

                        @media (max-width: 1023px) {
                            opacity: 1;
                        }
                    }

                    .p-checkbox .p-checkbox-box.p-highlight {
                        border-color: #67c8c9;
                        background: #67c8c9;
                    }

                    @media (max-width: 1279px) {
                        padding: 10px 5px;
                        font-size: 12px;
                    }
                    @media (max-width: 1023px) {
                        text-align: right;
                        display: flex;
                        align-items: center;
                        justify-content: flex-start;
                        padding: 5px 10px;
                        flex-wrap: wrap;
                    }

                    @media (max-width: 1023px) {
                        font-size: 14px;
                    }

                    .p-column-title {
                        display: none;
                        @media (max-width: 1023px) {
                            display: block;
                            padding: 0;
                            min-width: inherit;
                            display: inline-block;
                            margin: 0px 0px 0px 10px;
                            font-weight: bold;
                            font-size: 14px;
                        }
                    }
                }
            }
        }
    }
}

.p-component-overlay {
    background-color: rgba(255, 255, 255, 0.6);
    transition-duration: 0.2s;

    .pi-spinner:before {
        content: "\e926";
        color: #00aac0;
    }
}
/////////////////////////////////////////.tableStyle end/////////////////////////////
