#approverForm-userName > input {
    padding-left: 5vh;
}

.approver-fillMe {
    z-index: 1;
}

.disabled {
    background-color:#faf8fd !important;
}

.approverType .p-dropdown-label.p-inputtext {
    background-color: inherit !important;
}