.approver-selection-multiple > ul {
    display: inline-table !important;
    vertical-align: middle;   
}

.disabled {
    background-color:#faf8fd;
}

.approver-name {
    pointer-events: all !important;
}