$bgcolor0: #ffffff;
$textColor0: #201961;

$textColor1: #ffffff;

$linkColor0: #2979f4;

@mixin cleanList {
  padding: 0;
  margin: 0;
  list-style: none;
}

.main-inner-item3 {
  width: 449px;

  @media (max-width: 1366px) {
    width: 340px;
  }

  @media (max-width: 1279px) {
    width: 100%;
    padding-top: 15px;
  }

  .main-inner-item3-content {
    .btns-wrap {
      padding: 0px 40px 16px 20px;

      @media (max-width: 1279px) {
        padding: 0;
      }
    }

    .actions-inner-wrap {
      h2 {
        padding: 0px 40px 0px 20px;
        @media (max-width: 1279px) {
          padding: 0px;
        }
      }
      .units-wrap {
        @include cleanList;
        flex-wrap: wrap;
        padding: 13px 40px 14px 20px;
        border-bottom: 1px solid #aab5bf;

        @media (max-width: 1630px) {
          padding: 13px 15px 14px 15px;
        }

        @media (max-width: 1279px) {
          padding: 13px 0px 14px 0px;
        }

        @media (max-width: 680px) {
          max-width: 360px;
          margin: 0 auto;
          border-bottom: 0;
        }
        li {
          .btn-actions {
            background-color: $bgcolor0;
            border: 0;
            width: 121px;
            height: 115px;
            margin-bottom: 15px;
            border-radius: 14px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            &::before {
              content: "";
              background-image: url(../../../images/actions-icon1.svg);
              background-size: 16px;
              background-repeat: no-repeat;
              background-position: center;
              background-color: transparent;
              width: 50px;
              height: 49px;
              position: absolute;
              margin: 0 auto;
              top: 16px;
              right: 0;
              left: 0;
              z-index: 2;
              transition: all 0.3s ease;
              display: flex;
              align-items: center;
              justify-content: center;
            }

            &::after {
              content: "";
              background: transparent linear-gradient(180deg, #90ccff 0%, #6486da 100%) 0% 0% no-repeat padding-box;
              width: 50px;
              height: 49px;
              border-radius: 50%;
              position: absolute;
              top: 16px;
              right: 0;
              left: 0;
              margin: 0 auto;
              z-index: 1;
              transition: all 0.3s ease;
              box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.2);
            }

            @media (max-width: 1366px) {
              width: 100px;
              height: 111px;
            }

            @media (max-width: 359px) {
              width: 130px;
            }

            .p-button-label {
              color: $textColor0;
              font-size: 14px;
              line-height: 18px;
              font-weight: 900;
              padding-top: 16px;
              width: 121px;
              display: flex;
              align-items: flex-end;
              justify-content: center;
              padding-bottom: 8px;
              @media (max-width: 1366px) {
                width: 100px;
                letter-spacing: -0.3px;
                font-size: 13px;
              }
            }
          }

          .btn-actions1 {
            &::before {
              background-image: url(../../../images/actions-icon1.svg);
              background-size: 16px;
            }
            &::after {
              background: transparent linear-gradient(180deg, #90ccff 0%, #6486da 100%) 0% 0% no-repeat padding-box;
            }
            &:hover,
            &:focus {
              &::after {
                background: transparent linear-gradient(180deg, #6486da 0%, #90ccff 100%) 0% 0% no-repeat padding-box;
              }
            }
          }

          .btn-actions2 {
            &::before {
              background-image: url(../../../images/actions-icon2.svg);
              background-size: 25px;
            }
            &::after {
              background: transparent linear-gradient(180deg, #ffbb5a 0%, #f57c3d 100%) 0% 0% no-repeat padding-box;
            }
            &:hover,
            &:focus {
              &::after {
                background: transparent linear-gradient(180deg, #f57c3d 0%, #ffbb5a 100%) 0% 0% no-repeat padding-box;
              }
            }
          }

          .btn-actions3 {
            &::before {
              background-image: url(../../../images/actions-icon3.svg);
              background-size: 23px;
            }
            &::after {
              background: transparent linear-gradient(180deg, #957eff 0%, #7e57e5 100%) 0% 0% no-repeat padding-box;
            }
            &:hover,
            &:focus {
              &::after {
                background: transparent linear-gradient(180deg, #7e57e5 0%, #957eff 100%) 0% 0% no-repeat padding-box;
              }
            }
          }

          .btn-actions4 {
            &::before {
              background-image: url(../../../images/actions-icon4.svg);
              background-size: 23px;
            }
            &::after {
              background: transparent linear-gradient(180deg, #3cb699 0%, #01a9be 100%) 0% 0% no-repeat padding-box;
            }
            &:hover,
            &:focus {
              &::after {
                background: transparent linear-gradient(180deg, #01a9be 0%, #3cb699 100%) 0% 0% no-repeat padding-box;
              }
            }
          }

          .btn-actions5 {
            &::before {
              background-image: url(../../../images/actions-icon5.svg);
              background-size: 27px;
            }
            &::after {
              background: transparent linear-gradient(180deg, #dccdfe 0%, #9c93ca 100%) 0% 0% no-repeat padding-box;
            }
            &:hover,
            &:focus {
              &::after {
                background: transparent linear-gradient(180deg, #9c93ca 0%, #dccdfe 100%) 0% 0% no-repeat padding-box;
              }
            }
          }

          .btn-actions6 {
            &::before {
              background-image: url(../../../images/actions-icon6.svg);
              background-size: 26px;
            }
            &::after {
              background: transparent linear-gradient(180deg, #f590cd 0%, #ff74ba 100%) 0% 0% no-repeat padding-box;
            }
            &:hover,
            &:focus {
              &::after {
                background: transparent linear-gradient(180deg, #ff74ba 0%, #f590cd 100%) 0% 0% no-repeat padding-box;
              }
            }
          }
        }
      }
    }

    .requests-inner-wrap,
    .messages-inner-wrap {
      &.requests-inner-wrap {
        border-bottom: 1px solid #aab5bf;
        padding-bottom: 15px;

        @media (max-width: 680px) {
          border-top: 1px solid #aab5bf;
        }
      }
      .title-wrap {
        padding: 20px 40px 20px 20px;
        @media (max-width: 1630px) {
          padding: 20px 15px 20px 15px;
        }

        @media (max-width: 1279px) {
          padding: 20px 0px 20px 0px;
        }
        a {
          font-size: 16px;
          line-height: 20px;
          font-weight: 400;
          color: rgba(32, 25, 97, 0.5);
          text-decoration: underline;
          &:hover,
          &:focus {
            text-decoration: none;
          }
        }
      }

      .table-item-wrap {
        padding: 0px 40px 0px 20px;

        @media (max-width: 1630px) {
          padding: 0px 15px 0px 15px;
        }

        @media (max-width: 1279px) {
          padding: 0px;
        }

        .table-item-inner {
          .tableStyle {
            thead {
              display: none;
            }

            tbody {
              tr {
                td {
                  padding-bottom: 10px;
                  &:first-child {
                    padding-right: 0;
                  }

                  &:last-child {
                    padding-left: 0;
                  }
                  .td-inner {
                    p {
                      @media (max-width: 1355px) {
                        font-size: 14px;
                        line-height: 18px;
                      }
                    }
                    &.td-inner-btn {
                      display: flex;
                      justify-content: flex-end;
                    }
                    .btn-status {
                      font-size: 16px;
                      line-height: 20px;
                      color: #16b2c0;
                      width: 91px;
                      height: 38px;
                      font-weight: 500;
                      background-color: rgba(255, 255, 255, 0.5);
                      border-radius: 19px;
                      border: 0;
                      display: flex;
                      justify-content: center;
                      align-items: center;

                      @media (max-width: 599px) {
                        width: 71px;
                      }
                      &.btn-rejected {
                        color: #f0c15d;
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
