$bgcolor0: #ffffff;
$textColor0: #201961;

$textColor1: #ffffff;

$linkColor0: #2979f4;
.chart-wrap {
    padding-top: 80px;
    direction: ltr;
    @media (max-width: 700px) {
        padding-top: 60px;
        max-width: 650px;
        overflow-x: scroll;
        scrollbar-color: #cee8e8 #67c8c9;
        scrollbar-width: thin;
        margin: 0 auto;

        &::-webkit-scrollbar-track {
            background-color: #cee8e8;
            border-radius: 30px;
        }

        &::-webkit-scrollbar {
            height: 5px;
            background-color: #cee8e8;
            border-radius: 30px;
            background-clip: padding-box;
        }

        &::-webkit-scrollbar-thumb {
            background: #67c8c9;
            border-radius: 30px;
        }
    }

    .p-organizationchart {
        .p-organizationchart-node-content {
            direction: rtl;
            padding: 15px 15px;
            border-radius: 20px;
            box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.15);
            min-width: 102px;
            max-width: 130px;
            color: $textColor0;
            border: 1px solid $bgcolor0;
            &.style2 {
                background-color: #f5ded1;
                border: 1px solid #f6d5c2;
            }
            .p-node-toggler {
                background: transparent linear-gradient(180deg, #feb557 0%, #f68340 100%) 0% 0% no-repeat padding-box;
                .p-node-toggler-icon {
                    color: $textColor1;
                }
                .pi-chevron-down:before {
                    content: "\e902";
                    color: $textColor1;
                    font-size: 13px;
                }
                &:hover,
                &:focus {
                    background: transparent linear-gradient(180deg, #f68340 0%, #feb557 100%) 0% 0% no-repeat
                        padding-box;
                }
            }
        }

        .p-organizationchart-line-top {
            border-top: 1px dashed #929495;
        }

        .p-organizationchart-line-left {
            border-right: 1px dashed #929495;
        }
        .p-organizationchart-line-down {
            border-right: 1px dashed #929495;
        }
    }
}
