.p-speeddial {
  position: relative;
  align-items: center;
  margin: 0 10px;
}

.p-speeddial-button.p-button.p-button-icon-only {
  width: 50px;
  height: 50px;
  -webkit-text-stroke: 0.8px;
}

.p-speeddial-action {
  width: 40px;
  height: 40px;
  background: #495057;
  color: #fff;
}

.p-speeddial-list {
  margin-left: 8px;
}

.p-button.p-button-outlined {
  border: 2px solid;
}

.p-dialog.faq-dialog .p-dialog-header .p-dialog-title::before {
  background-image: url(../../../images/faq-icon-white.png);
  background-size: contain;
}

.p-dialog.contact-info-dialog .p-dialog-header .p-dialog-title::before {
  background-image: url(../../../images/contact-icon.png);
  background-size: contain;
}
